@charset "UTF-8";
.TitleView_012345_show {
  overflow: hidden;
}

#TitleView_012345 {
  font-size: 13px;
  line-height: 2em;
  color: white;
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 9999999;
  top: -3000px;
  left: 0;
  width: 100%;
  overflow: auto;
  text-shadow: 0px 0px 7px #000, 0px 0px 7px #000;
}

#TitleView_012345.transition_mode {
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

#TitleView_012345 * {
  font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#TitleView_012345 p,
#TitleView_012345 span {
  box-sizing: border-box;
}

#TitleView_012345 span {
  padding: 0;
  margin: 0;
  color: #9cc6ff;
  margin: 0 0.3em;
  line-height: 2em;
}

#TitleView_012345 .metas {
  padding: 0 2em 2em 5em;
  margin: 0;
}

#TitleView_012345 h3 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 1em 1em 1em 1em;
  margin: 0;
  background: none;
  box-sizing: border-box;
}

#TitleView_012345 hr {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  margin: 0;
  padding: 0;
}

#TitleView_012345 a,
#TitleView_012345 a:active,
#TitleView_012345 a:visited {
  color: #9cc6ff;
  text-decoration: none;
}

#TitleView_012345 a:hover {
  box-shadow: 0px 0px 0px 4px rgba(255, 167, 21, 0.7);
}

#TitleView_012345 #TitleView_Contents_012345 {
  padding: 3em 0 0 0;
}

#TitleView_012345 #TitleView_Contents_012345 .img {
  padding: 1em 0 1em 2em;
  text-align: left;
}

#TitleView_012345 #TitleView_Contents_012345 .img a {
  display: -webkit-inline-box;
}

#TitleView_012345 #TitleView_closebtn_012345 {
  margin: 0;
  padding: 1em 0;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#TitleView_012345 #TitleView_closebtn_012345:hover {
  color: #eb6100;
}

.AltView_012345_Tip_show {
  box-shadow: 0px 0px 0px 5px rgba(255, 167, 21, 0.7) !important;
}

#AltView_012345 {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}

#AltView_wrap {
  position: relative;
  width: 100%;
}

#AltView_wrap .Tip {
  position: absolute;
}

#AltView_wrap .Tip .txt {
  text-align: left;
  font-size: 11px;
  line-height: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  color: #fff;
  cursor: auto;
  background: #333;
  padding: 8px 8px 7px 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  opacity: 0.9;
  min-width: 150px;
  word-wrap: break-word;
  color: #b0b0b0;
}

#AltView_wrap .Tip .txt span {
  margin: 0 0.5em 0 0.5em;
}

#AltView_wrap .Tip .txt .noset {
  color: #f89406;
}

#AltView_wrap .Tip .txt .set {
  color: white;
  font-weight: normal;
}
