doctype html
html
 head
  meta(charset="utf-8")
  title Alt &amp; Meta Viewer Options
  link(rel="stylesheet" type="text/css" href="assets/css/option.css" media="all")

 body
  h1 Alt &amp; Meta Viewer
  form

   label(for="alt_checkbox")
    input(type="checkbox" id="alt_checkbox" value="1" checked="checked" )
    | Alt
   br
   label(for="title_checkbox")
    input(type="checkbox" id="alt_checkbox" value="1" checked="checked")
    | Title
   br
   label(for="size_checkbox")
    input(type="checkbox" id="size_checkbox" value="1" checked="checked")
    | 画像サイズ
   br
   label(for="path_checkbox")
    input(type="checkbox" id="path_checkbox" value="1" checked="checked")
    | 画像パス
   br
   label(for="extension_checkbox")
    input(type="checkbox" id="extension_checkbox" value="1" checked="checked")
    | 拡張子
   br
  //- input(id="save" type="button" value="保存")

  script(src="assets/js/jquery-1.11.1.min.js" type="text/javascript")
  script(src="assets/js/option.js" type="text/javascript")
