@mixin reset() {
	* {
		padding: 0;
		margin: 0;
		font: inherit;
		font-family: "游ゴシック体", 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
		font-size: 100%;
		font-weight: 400;
		line-height: 1;
		vertical-align: baseline;
		letter-spacing: 0.01em;
		text-shadow: none;
		outline: 0;
		quotes: none;
		list-style: none;
		background: transparent;
		border: 0;
		box-shadow: none;

		blockquote::after,
		blockquote::before,
		q::after,
		q::before {
			content: '';
			content: none;
		}

		::selection {
			color: #fff;
		  background: rgb(248 148 6 / 80%);
		}
	}
}
