@import "./_reset";

.TitleView_012345_show {
  overflow: hidden;
}

#TitleView_012345.TitleView012345_Box {
  * {
    all: unset;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }

  @include reset;

  position: fixed;
  top: -3000px;
  left: 0;
  z-index: 9999999;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-size: 13px;
  line-height: 2em;
  color: white;
  text-align: left;
  letter-spacing: 0.1em;
  text-shadow: 0 0 7px #000, 0 0 7px #000;
  background: rgb(0 0 0 / 75%);

  &.transition_mode {
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  }

  img {
    font-size: 0;
    line-height: 0;
    background: transparent;
  }

  .TitleView012345_Objs {
    padding: 34px 34px 17px;
  }

  .TitleView012345_Contents {
    display: block;
    max-width: 1000px;
    padding: 3em 0 0;
    margin: 0 auto;
    word-break: break-all;

    &__ttl {
      box-sizing: border-box;
      display: block;
      padding: 1em 0;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 2em;
      color: white;
      letter-spacing: 0.1em;
      background: none;
      border: none;
    }

    &__hr {
      display: block;
      height: 2px;
      padding: 0;
      margin: 0;
      line-height: 2em;
      letter-spacing: 0.1em;
      background: rgb(255 255 255 / 30%);
      border: 0;
    }

    &__metas {
      display: block;
      padding: 0 0 1.8em 5em;
      margin: 0;
      font-size: 13px;
      font-weight: numal;
      line-height: 2em;
      color: #fff !important;
      letter-spacing: 0.1em;

      &__span {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        line-height: 2em;
        color: #9cc6ff;
      }

      &__img {
        display: block;
        padding: 1em 0 1em 2em;
        text-align: left;

        a {
          display: block;
        }

        img {
          max-width: 50% !important;
          transition: 0.45s cubic-bezier(0.23, 1, 0.32, 1);

          &:hover {
            box-shadow: 0 0 0 4px rgb(255 167 21 / 70%);
          }
        }
      }

      &__a,
      &__a:active,
      &__a:visited {
        display: inline;
        color: rgb(156 198 255);
        text-decoration: none;
        cursor: pointer;
        transition: 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      }

      &__a:hover {
        text-decoration: none;
        background: none;
        box-shadow: 0 0 0 4px rgb(255 167 21 / 70%);

        &:has(img) {
          box-shadow: unset;
        }
      }
    }
  }

  .TitleView012345_HeadCloseBtn {
    position: relative;
    position: fixed;
    top: 17px;
    right: 34px;
    width: 45px;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    cursor: pointer;
    background: rgb(0 0 0 / 70%);
    opacity: 0;
    transform: scale(0);
    transition: 0.45s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      color: white;
      text-shadow: none;
      background: #eb6100;
    }

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }

  .TitleView012345_CloseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    background: rgb(0 0 0 / 70%);
    opacity: 0;
    transform: scale(0);
    transition: 0.45s cubic-bezier(0.23, 1, 0.32, 1);

    &_img {
      width: 45px;
    }

    &:hover {
      background: #eb6100;
    }

    &.active {
      opacity: 1;
      transform: scale(1);
    }

    @media (width >= 1070px) {
      & {
        margin: 2em auto 1em;
      }
    }
  }
}
